.blog{
  margin: 10px;
  background: #fff;
}

.blog .post{
  border: 1px solid #888;
  margin: 10px;
  margin-bottom: 8px;
}

.blog .post h3{
  padding: 5px;
  margin: 5px;
  border-bottom:1px solid #888;
}

.new-post{
  border: 1px solid #888;
  page-break-after: 10px;
  margin: 10px;
  margin-bottom:15px;
  padding: 8px;
}

.new-post input,
.new-post textarea{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding : 8px;
  margin-bottom: 5px;
}

.new-post button{
  padding: 5px;
  background: lightseagreen;
  font-weight: bold;
  border: 1px solid #448;
}


.navigation{
  border-bottom: 1px solid ;
  
}
.navigation ul{
  padding:  0;
  margin: 0px;
  list-style: none;
}
.navigation ul li{
  list-style: none;
  display: inline-block;
  border: 1px solid #448;
  margin: 5px;
}

.navigation ul li a{
  text-decoration: none;
  border:  1px solid #888;
  padding: 12px 15px;
  display: inline-block;
}

.navigation ul li a:hover,
.navigation ul li a:focus{
  background: #0ff;
}

.loading{
  background-image: url(/loading.gif);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}